MES.form/Web References/stoney/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonText1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonText2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DtToJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DtToJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DtToJsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JsonToDt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JsonToDtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonToDtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getjsonSoapIn">
    <wsdl:part name="parameters" element="tns:getjson" />
  </wsdl:message>
  <wsdl:message name="getjsonSoapOut">
    <wsdl:part name="parameters" element="tns:getjsonResponse" />
  </wsdl:message>
  <wsdl:message name="DtToJsonSoapIn">
    <wsdl:part name="parameters" element="tns:DtToJson" />
  </wsdl:message>
  <wsdl:message name="DtToJsonSoapOut">
    <wsdl:part name="parameters" element="tns:DtToJsonResponse" />
  </wsdl:message>
  <wsdl:message name="JsonToDtSoapIn">
    <wsdl:part name="parameters" element="tns:JsonToDt" />
  </wsdl:message>
  <wsdl:message name="JsonToDtSoapOut">
    <wsdl:part name="parameters" element="tns:JsonToDtResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getjson">
      <wsdl:input message="tns:getjsonSoapIn" />
      <wsdl:output message="tns:getjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DtToJson">
      <wsdl:input message="tns:DtToJsonSoapIn" />
      <wsdl:output message="tns:DtToJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JsonToDt">
      <wsdl:input message="tns:JsonToDtSoapIn" />
      <wsdl:output message="tns:JsonToDtSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getjson">
      <soap:operation soapAction="http://tempuri.org/getjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DtToJson">
      <soap:operation soapAction="http://tempuri.org/DtToJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JsonToDt">
      <soap:operation soapAction="http://tempuri.org/JsonToDt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getjson">
      <soap12:operation soapAction="http://tempuri.org/getjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DtToJson">
      <soap12:operation soapAction="http://tempuri.org/DtToJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JsonToDt">
      <soap12:operation soapAction="http://tempuri.org/JsonToDt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://xx-mes.highrock.com.cn/stoney/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://xx-mes.highrock.com.cn/stoney/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>